<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme</title>
    <link rel="stylesheet" href="/output.css" /> <!-- Correct path -->

</head>
<body class="m-0 p-0 bg-[#2B2B2B]">
    <!-- //navbar -->
     <nav class="flex justify-between items-center p-4 text-white">
        <a href="%%" class="py-2 px-2">HOME</a>
        <!-- //logo -->
        <img class="h-[80px] w-[160px] mt-1 " src="/images/MetaMinds_ Logo white....png" alt="MetaMinds">
     </nav>

     <h1 class="text-white font-medium text-2xl px-4 py-2 text-center">HERE IS YOUR CUSTOMIZED STUDY PLAN </h1>
     <ul class="list-none text-black text-xl font-medium text-center">
        <li class="bg-[#FFDE70] border-[2px] border-black px-3 py-2 my-4 "><a href="##">1ST SESSION : x  minutes </a></li>
        <li class="bg-[#FFDE70] border-[2px] border-black px-3 py-2 my-4"><a href="##">BREAK : x  minutes</a></li>
        <li class="bg-[#FFDE70] border-[2px] border-black px-3 py-2 my-4"><a href="">2ND SESSION : x  minutes</a></li>
     </ul>

     <div class=" flex justify-between mx-16 my-16 text-2xl ">
        <a class="px-2 py-2 bg-[#EF476F] w-[150px] h-[50px] text-center" href="">SKIP</a>
        <a class="px-2 py-2 bg-[#43AA8B] w-[150px] h-[50px] text-center" href="">PROCEED</a>
     </div>

</body>
</html>